body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, lightblue);
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 40px 50px;
    width: 90%;
    max-width: 550px;     /* max white box size */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}


h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.button-group {
    margin-top: 15px;
}

button {
    padding: 8px 18px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    background-color: #1a5ed8;
    transform: scale(1.05);
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

.hit {
    color: green;
}

.miss {
    color: red;
}

.cache-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


.cache-item {
    min-width: 60px;
    padding: 12px 16px;
    background-color: #e0e7ff;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.arrow {
    font-size: 24px;
    font-weight: bold;
    margin: 0 5px;
    color: #4f46e5;
    display: flex;
    align-items: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
